webservice_342/WEB-INF/xsd/conversant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	targetNamespace="http://webservice.conversant.com"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  	xmlns:tns="http://webservice.conversant.com"
  	elementFormDefault="qualified">

<!-- *************************** General **************************************************************** -->

	<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
   	<xsd:complexType name="LoginRequest">
		<xsd:sequence>
			<xsd:element name="username" type="xsd:string"/>
		  	<xsd:element name="password" type="xsd:string"/>
		  	<xsd:element name="type" type="xsd:string"/>
		  	<xsd:element name="trxName" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="CreateTrxRequest" type="tns:CreateTrxRequest"/>
   	<xsd:complexType name="CreateTrxRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="trxNamePrefix" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="CommitTrxRequest" type="tns:CommitTrxRequest"/>
   	<xsd:complexType name="CommitTrxRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="RollbackTrxRequest" type="tns:RollbackTrxRequest"/>
   	<xsd:complexType name="RollbackTrxRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="StandardResponse" type="tns:StandardResponse"/>
   	<xsd:complexType name="StandardResponse">
    	<xsd:sequence>
        	<xsd:element name="success" type="xsd:boolean"/>
        	<xsd:element name="message" type="xsd:string"/>
        	<xsd:element name="trxName" type="xsd:string"/>
        	<xsd:element name="id" type="xsd:int"/>
      	</xsd:sequence>
   	</xsd:complexType>
   	
<!-- *************************** Provision ************************************************************** -->

	<xsd:element name="CreateDIDProductRequest" type="tns:CreateDIDProductRequest"/>
   	<xsd:complexType name="CreateDIDProductRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="number" type="xsd:string"/>
			<xsd:element name="countryId" type="xsd:string"/>
			<xsd:element name="countryCode" type="xsd:string"/>
			<xsd:element name="areaCode" type="xsd:string"/>
			<xsd:element name="areaCodeDescription" type="xsd:string"/>
			<xsd:element name="freeMinutes" type="xsd:string"/>
			<xsd:element name="perMinuteCharge" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="setupCost" type="xsd:string"/>
			<xsd:element name="monthlyCharge" type="xsd:string"/>			
			<xsd:element name="currencyId" type="xsd:int"/>
			<xsd:element name="pricelistVersionId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="CreateSIPProductRequest" type="tns:CreateSIPProductRequest"/>
   	<xsd:complexType name="CreateSIPProductRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="address" type="xsd:string"/>
			<xsd:element name="domain" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="CreateVoicemailProductRequest" type="tns:CreateVoicemailProductRequest"/>
   	<xsd:complexType name="CreateVoicemailProductRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="context" type="xsd:string"/>
			<xsd:element name="macroName" type="xsd:string"/>
			<xsd:element name="mailboxNumber" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="CreateDIDSubscriptionRequest" type="tns:CreateDIDSubscriptionRequest"/>
   	<xsd:complexType name="CreateDIDSubscriptionRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="number" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="businessPartnerLocationId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="CreateSIPSubscriptionRequest" type="tns:CreateSIPSubscriptionRequest"/>
   	<xsd:complexType name="CreateSIPSubscriptionRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="address" type="xsd:string"/>
			<xsd:element name="domain" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="businessPartnerLocationId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="CreateVoicemailSubscriptionRequest" type="tns:CreateVoicemailSubscriptionRequest"/>
   	<xsd:complexType name="CreateVoicemailSubscriptionRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="mailboxNumber" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="businessPartnerLocationId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="ReadSubscriberRequest" type="tns:ReadSubscriberRequest"/>
   	<xsd:complexType name="ReadSubscriberRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="CreateSubscriberRequest" type="tns:CreateSubscriberRequest"/>
   	<xsd:complexType name="CreateSubscriberRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="username" type="xsd:string"/>
			<xsd:element name="password" type="xsd:string"/>
			<xsd:element name="domain" type="xsd:string"/>
			<xsd:element name="timezone" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="UpdateSubscriberRequest" type="tns:UpdateSubscriberRequest"/>
   	<xsd:complexType name="UpdateSubscriberRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="DeleteSubscriberRequest" type="tns:DeleteSubscriberRequest"/>
   	<xsd:complexType name="DeleteSubscriberRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="username" type="xsd:string"/>
			<xsd:element name="domain" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="CreateUserPreferenceRequest" type="tns:CreateUserPreferenceRequest"/>
   	<xsd:complexType name="CreateUserPreferenceRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="uuid" type="xsd:string"/>
			<xsd:element name="username" type="xsd:string"/>
			<xsd:element name="domain" type="xsd:string"/>
			<xsd:element name="attribute" type="xsd:string"/>
			<xsd:element name="value" type="xsd:string"/>
			<xsd:element name="type" type="xsd:string"/>
			<xsd:element name="subscriberId" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadUserPreferenceRequest" type="tns:ReadUserPreferenceRequest"/>
   	<xsd:complexType name="ReadUserPreferenceRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="UpdateUserPreferenceValueRequest" type="tns:UpdateUserPreferenceValueRequest"/>
   	<xsd:complexType name="UpdateUserPreferenceValueRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="uuid" type="xsd:string"/>
			<xsd:element name="username" type="xsd:string"/>
			<xsd:element name="domain" type="xsd:string"/>
			<xsd:element name="attribute" type="xsd:string"/>
			<xsd:element name="value" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="UpdateUserPreferenceStartDateRequest" type="tns:UpdateUserPreferenceStartDateRequest"/>
   	<xsd:complexType name="UpdateUserPreferenceStartDateRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="uuid" type="xsd:string"/>
			<xsd:element name="username" type="xsd:string"/>
			<xsd:element name="domain" type="xsd:string"/>
			<xsd:element name="attribute" type="xsd:string"/>
			<xsd:element name="startDate" type="xsd:date"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="UpdateUserPreferenceEndDateRequest" type="tns:UpdateUserPreferenceEndDateRequest"/>
   	<xsd:complexType name="UpdateUserPreferenceEndDateRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="uuid" type="xsd:string"/>
			<xsd:element name="username" type="xsd:string"/>
			<xsd:element name="domain" type="xsd:string"/>
			<xsd:element name="attribute" type="xsd:string"/>
			<xsd:element name="endDate" type="xsd:date"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="DeleteUserPreferenceRequest" type="tns:DeleteUserPreferenceRequest"/>
   	<xsd:complexType name="DeleteUserPreferenceRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="uuid" type="xsd:string"/>
			<xsd:element name="username" type="xsd:string"/>
			<xsd:element name="domain" type="xsd:string"/>
			<xsd:element name="attribute" type="xsd:string"/>
			<xsd:element name="value" type="xsd:string"/>
			<xsd:element name="type" type="xsd:string"/>
			<xsd:element name="subscriberId" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="CreateVoicemailUserRequest" type="tns:CreateVoicemailUserRequest"/>
   	<xsd:complexType name="CreateVoicemailUserRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="mailboxNumber" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="DeleteVoicemailUserRequest" type="tns:DeleteVoicemailUserRequest"/>
   	<xsd:complexType name="DeleteVoicemailUserRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="mailboxNumber" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="CreateVoicemailUserPreferencesRequest" type="tns:CreateVoicemailUserPreferencesRequest"/>
   	<xsd:complexType name="CreateVoicemailUserPreferencesRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="mailboxNumber" type="xsd:string"/>
			<xsd:element name="domain" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="DeleteVoicemailUserPreferencesRequest" type="tns:DeleteVoicemailUserPreferencesRequest"/>
   	<xsd:complexType name="DeleteVoicemailUserPreferencesRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="mailboxNumber" type="xsd:string"/>
			<xsd:element name="domain" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="CreateVoicemailDialPlanRequest" type="tns:CreateVoicemailDialPlanRequest"/>
   	<xsd:complexType name="CreateVoicemailDialPlanRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="mailboxNumber" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="DeleteVoicemailDialPlanRequest" type="tns:DeleteVoicemailDialPlanRequest"/>
   	<xsd:complexType name="DeleteVoicemailDialPlanRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="mailboxNumber" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ValidateProvisionDIDParametersRequest" type="tns:ValidateProvisionDIDParametersRequest"/>
   	<xsd:complexType name="ValidateProvisionDIDParametersRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="didNumber" type="xsd:string"/>
		  	<xsd:element name="sipAddress" type="xsd:string"/>
		  	<xsd:element name="sipDomain" type="xsd:string"/>
		  	<xsd:element name="sipPassword" type="xsd:string"/>
		  	<xsd:element name="sipTimezone" type="xsd:string"/>
		  	<xsd:element name="voicemailContext" type="xsd:string"/>
		  	<xsd:element name="voicemailMacroName" type="xsd:string"/>
		  	<xsd:element name="voicemailMailboxNumber" type="xsd:string"/>
		  	<xsd:element name="voicemailDomain" type="xsd:string"/>
 			<xsd:element name="businessPartnerId" type="xsd:int"/>
 			<xsd:element name="businessPartnerLocationId" type="xsd:int"/>
 			<xsd:element name="converseVoiceActive" type="xsd:boolean"/>
 			<xsd:element name="cOutActive" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	
<!-- *************************** Admin ****************************************************************** -->
	
	<xsd:element name="CreateBusinessPartnerRequest" type="tns:CreateBusinessPartnerRequest"/>
   	<xsd:complexType name="CreateBusinessPartnerRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="searchKey" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="businessPartnerGroupId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="CreateBusinessPartnerLocationRequest" type="tns:CreateBusinessPartnerLocationRequest"/>
   	<xsd:complexType name="CreateBusinessPartnerLocationRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="locationId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="CreateLocationRequest" type="tns:CreateLocationRequest"/>
   	<xsd:complexType name="CreateLocationRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="address1" type="xsd:string"/>
			<xsd:element name="address2" type="xsd:string"/>
			<xsd:element name="address3" type="xsd:string"/>
			<xsd:element name="address4" type="xsd:string"/>
			<xsd:element name="city" type="xsd:string"/>
			<xsd:element name="cityId" type="xsd:int"/>
			<xsd:element name="zip" type="xsd:string"/>
			<xsd:element name="region" type="xsd:string"/>
			<xsd:element name="regionId" type="xsd:int"/>
			<xsd:element name="countryId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="CreateUserRequest" type="tns:CreateUserRequest"/>
   	<xsd:complexType name="CreateUserRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="password" type="xsd:string"/>
			<xsd:element name="email" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="businessPartnerLocationId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>

<!-- *************************** Accounting ************************************************************* -->

	<xsd:element name="CreatePaymentRequest" type="tns:CreatePaymentRequest"/>
   	<xsd:complexType name="CreatePaymentRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>			
			<xsd:element name="bankAccountId" type="xsd:int"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="businessPartnerBankAccountId" type="xsd:int"/>			
			<xsd:element name="amount" type="xsd:decimal"/>	
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="ReadPaymentRequest" type="tns:ReadPaymentRequest"/>
   	<xsd:complexType name="ReadPaymentRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="UpdatePaymentRequest" type="tns:UpdatePaymentRequest"/>
   	<xsd:complexType name="UpdatePaymentRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="DeletePaymentRequest" type="tns:DeletePaymentRequest"/>
   	<xsd:complexType name="DeletePaymentRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ProcessPaymentRequest" type="tns:ProcessPaymentRequest"/>
   	<xsd:complexType name="ProcessPaymentRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="paymentId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="CreateBPBankAccountRequest" type="tns:CreateBPBankAccountRequest"/>
   	<xsd:complexType name="CreateBPBankAccountRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="userId" type="xsd:int"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="creditCardType" type="xsd:string"/>
			<xsd:element name="creditCardNumber" type="xsd:string"/>
			<xsd:element name="creditCardVerificationCode" type="xsd:string"/>
			<xsd:element name="creditCardExpiryMonth" type="xsd:int"/>
			<xsd:element name="creditCardExpiryYear" type="xsd:int"/>
			<xsd:element name="accountName" type="xsd:string"/>
			<xsd:element name="accountStreet" type="xsd:string"/>
			<xsd:element name="accountCity" type="xsd:string"/>
			<xsd:element name="accountZip" type="xsd:string"/>
			<xsd:element name="accountState" type="xsd:string"/>
			<xsd:element name="accountCountry" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadBPBankAccountRequest" type="tns:ReadBPBankAccountRequest"/>
   	<xsd:complexType name="ReadBPBankAccountRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="UpdateBPBankAccountRequest" type="tns:UpdateBPBankAccountRequest"/>
   	<xsd:complexType name="UpdateBPBankAccountRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="DeleteBPBankAccountRequest" type="tns:DeleteBPBankAccountRequest"/>
   	<xsd:complexType name="DeleteBPBankAccountRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
		</xsd:sequence>
	</xsd:complexType>
	
</xsd:schema>