webservice_342/WEB-INF/xsd/conversant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	targetNamespace="http://webservice.conversant.com"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  	xmlns:tns="http://webservice.conversant.com"
  	elementFormDefault="qualified">

<!-- *************************** Model **************************************************************** -->

	<xsd:complexType name="Invoice">
		<xsd:sequence>
			<xsd:element name="invoiceId" type="xsd:int"/>
			<xsd:element name="documentNo" type="xsd:string"/>
			<xsd:element name="docTypeTargetId" type="xsd:int"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="businessPartnerLocationId" type="xsd:int"/>
			<xsd:element name="dateInvoiced" type="xsd:dateTime"/>
			<xsd:element name="totalLines" type="xsd:int"/>
			<xsd:element name="currency" type="xsd:string"/>
			<xsd:element name="grandTotal" type="xsd:decimal"/>
			<xsd:element name="amountOwing" type="xsd:decimal"/>
			<xsd:element name="organizationId" type="xsd:int"/>
			<xsd:element name="guid" type="xsd:string"/>
			<xsd:element name="bpSearchKey" type="xsd:string" />
			<xsd:element name="salesRepId" type="xsd:int"/>
			<xsd:element name="paymentTermId" type="xsd:int" />
			<xsd:element name="paymentMethod" type="xsd:string" />
			<xsd:element name="invoiceDueDate" type="xsd:dateTime" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="InvoiceLine">
		<xsd:sequence>
			<xsd:element name="invoiceLineId" type="xsd:int" />
			<xsd:element name="invoiceId" type="xsd:int" />
			<xsd:element name="productId" type="xsd:int" />
			<xsd:element name="description" type="xsd:string" />
			<xsd:element name="line" type="xsd:int" />
			<xsd:element name="qtyInvoiced" type="xsd:decimal" />
			<xsd:element name="qtyEntered" type="xsd:decimal" />
			<xsd:element name="priceEntered" type="xsd:decimal" />
			<xsd:element name="priceActual" type="xsd:decimal" />
			<xsd:element name="lineNetAmt" type="xsd:decimal" />
			<xsd:element name="lineTotalAmt" type="xsd:decimal" />
			<xsd:element name="chargeId" type="xsd:int" />
			<xsd:element name="uomId" type="xsd:int" />
			<xsd:element name="taxId" type="xsd:int" />
			<xsd:element name="productSearchKey" type="xsd:string" />
			<xsd:element name="productName" type="xsd:string" />
			<xsd:element name="productDescription" type="xsd:string" />
			<xsd:element name="productCategoryId" type="xsd:int" />
			<xsd:element name="productType" type="xsd:string" />
			<xsd:element name="productCategoryDescription" type="xsd:string" />
			<xsd:element name="productCategoryName" type="xsd:string" />
			<xsd:element name="parentProductCategoryName" type="xsd:string" />
			<xsd:element name="attributeSubscriptionOccurance" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="BusinessPartner">
		<xsd:sequence>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="searchKey" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="organizationId" type="xsd:int"/>
			<xsd:element name="businessPartnerGroupId" type="xsd:int"/>
			<xsd:element name="taxExempt" type="xsd:boolean"/>
			
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="Subscription">
		<xsd:sequence>
			<xsd:element name="subscriptionId" type="xsd:int"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="businessPartnerLocationId" type="xsd:int"/>
			<xsd:element name="productId" type="xsd:int"/>
			<xsd:element name="subscriptionTypeId" type="xsd:int"/>
			<xsd:element name="startDate" type="xsd:dateTime"/>
			<xsd:element name="paidUntilDate" type="xsd:dateTime"/>
			<xsd:element name="renewalDate" type="xsd:dateTime"/>
			<xsd:element name="billInAdvance" type="xsd:boolean"/>
			<xsd:element name="qty" type="xsd:int"/>
			<xsd:element name="userId" type="xsd:int" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="Order">
		<xsd:sequence>
			<xsd:element name="orderId" type="xsd:int"/>
			<xsd:element name="documentNo" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="businessPartnerLocationId" type="xsd:int"/>
			<xsd:element name="datePromised" type="xsd:dateTime"/>
			<xsd:element name="dateOrdered" type="xsd:dateTime"/>
			<xsd:element name="orgId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="OrderLine">
		<xsd:sequence>
			<xsd:element name="orderLineId" type="xsd:int" />
			<xsd:element name="orderId" type="xsd:int" />
			<xsd:element name="productId" type="xsd:int" />
			<xsd:element name="description" type="xsd:string" />
			<xsd:element name="line" type="xsd:int" />
			<xsd:element name="qtyOrdered" type="xsd:decimal" />
			<xsd:element name="priceEntered" type="xsd:decimal" />
			<xsd:element name="lineNetAmt" type="xsd:decimal" />
			<xsd:element name="chargeId" type="xsd:int" />
			<xsd:element name="uomId" type="xsd:int" />
			<xsd:element name="taxId" type="xsd:int" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="User">
		<xsd:sequence>
			<xsd:element name="userId" type="xsd:int"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="email" type="xsd:string"/>
			<xsd:element name="phone" type="xsd:string"/>
			<xsd:element name="mobile" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="role" type="tns:Role" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="RadiusAccount">
		<xsd:sequence>
			<xsd:element name="radAcctId" type="xsd:int"/>
			<xsd:element name="invoiceId" type="xsd:int"/>
			<xsd:element name="invoiceLineId" type="xsd:int"/>
			<xsd:element name="username" type="xsd:string"/>
			<xsd:element name="billingId" type="xsd:string"/>
			<xsd:element name="acctStartTime" type="xsd:dateTime"/>
			<xsd:element name="acctStopTime" type="xsd:dateTime"/>
			<xsd:element name="callingStationId" type="xsd:string"/>
			<xsd:element name="calledStationId" type="xsd:string"/>
			<xsd:element name="originNumber" type="xsd:string"/>
			<xsd:element name="destinationNumber" type="xsd:string"/>
			<xsd:element name="destination" type="xsd:string"/>			
			<xsd:element name="price" type="xsd:string"/>
			<xsd:element name="rate" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="Role">
		<xsd:sequence>
			<xsd:element name="roleId" type="xsd:int"/>
			<xsd:element name="name" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="BPLocation">
		<xsd:sequence>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="businessPartnerLocationId" type="xsd:int"/>
			<xsd:element name="locationId" type="xsd:int"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="phone" type="xsd:string"/>
			<xsd:element name="secondPhone" type="xsd:string"/>
			<xsd:element name="fax" type="xsd:string"/>
			<xsd:element name="isdn" type="xsd:string"/>
			<xsd:element name="isActive" type="xsd:boolean"/>
			<xsd:element name="address1" type="xsd:string"/>
			<xsd:element name="address2" type="xsd:string"/>
			<xsd:element name="address3" type="xsd:string"/>
			<xsd:element name="address4" type="xsd:string"/>
			<xsd:element name="city" type="xsd:string"/>
			<xsd:element name="cityId" type="xsd:int"/>
			<xsd:element name="zip" type="xsd:string"/>
			<xsd:element name="region" type="xsd:string"/>
			<xsd:element name="regionId" type="xsd:int"/>
			<xsd:element name="countryId" type="xsd:int"/>
			<xsd:element name="shipAddress" type="xsd:boolean"/>
			<xsd:element name="invoiceAddress" type="xsd:boolean"/>
			<xsd:element name="payFromAddress" type="xsd:boolean"/>
			<xsd:element name="remitToAddress" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="Product">
		<xsd:sequence>
			<xsd:element name="productId" type="xsd:int" />	
			<xsd:element name="searchKey" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="description" type="xsd:string"/>
			<xsd:element name="productCategoryId" type="xsd:int"/>
			<xsd:element name="productType" type="xsd:string"/>
			<xsd:element name="productCategoryDescription" type="xsd:string"/>
			<xsd:element name="attributeSetInstanceDetails" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="Organization">
		<xsd:sequence>
			<xsd:element name="organizationId" type="xsd:int" />	
			<xsd:element name="searchKey" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="isActive" type="xsd:boolean"/>
			<xsd:element name="summaryLevel" type="xsd:boolean"/>
			<xsd:element name="parentOrgId" type="xsd:int"/>
			<xsd:element name="taxId" type="xsd:string"/>
			<xsd:element name="address1" type="xsd:string"/>
			<xsd:element name="address2" type="xsd:string"/>
			<xsd:element name="address3" type="xsd:string"/>
			<xsd:element name="address4" type="xsd:string"/>
			<xsd:element name="city" type="xsd:string"/>
			<xsd:element name="zip" type="xsd:string"/>
			<xsd:element name="region" type="xsd:string"/>
			<xsd:element name="regionId" type="xsd:int"/>
			<xsd:element name="countryId" type="xsd:int"/>
			<xsd:element name="countryName" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ProductPrice">
		<xsd:sequence>
			<xsd:element name="productId" type="xsd:int" />	
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="listPrice" type="xsd:decimal"/>
			<xsd:element name="standardPrice" type="xsd:decimal"/>
			<xsd:element name="limitPrice" type="xsd:decimal"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="BPBankAccount">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="userId" type="xsd:int"/>
			<xsd:element name="bankId" type="xsd:int"/>
			<xsd:element name="ACH" type="xsd:boolean" />	
			<xsd:element name="accountName" type="xsd:string"/>
			<xsd:element name="accountNumber" type="xsd:string"/>
			<xsd:element name="accountUsage" type="xsd:string"/>
			<xsd:element name="accountType" type="xsd:string"/>
			<xsd:element name="creditCardType" type="xsd:string"/>
			<xsd:element name="creditCardNumber" type="xsd:string"/>
			<xsd:element name="creditCardVerificationCode" type="xsd:string"/>
			<xsd:element name="creditCardExpiryMonth" type="xsd:int"/>
			<xsd:element name="creditCardExpiryYear" type="xsd:int"/>
			<xsd:element name="orgId" type="xsd:int" />
			<xsd:element name="locationId" type="xsd:int" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="User2">
		<xsd:sequence>
			<xsd:element name="userId" type="xsd:int"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="email" type="xsd:string"/>
			<xsd:element name="phone" type="xsd:string"/>
			<xsd:element name="mobile" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="isSalesPerson" type="xsd:boolean"/>
			<xsd:element name="role" type="tns:Role" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="InvoiceTaxLine">
		<xsd:sequence>
			<xsd:element name="invoiceId" type="xsd:int" />
			<xsd:element name="taxId" type="xsd:int" />
			<xsd:element name="taxAmt" type="xsd:decimal" />
			<xsd:element name="taxBaseAmt" type="xsd:decimal" />
			<xsd:element name="priceIncludesTax" type="xsd:boolean" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Payment">
			<xsd:sequence>
				<xsd:element name="paymentId" type="xsd:int"/>
				<xsd:element name="documentNo" type="xsd:string"/>
				<xsd:element name="docTypeTargetId" type="xsd:int"/>
				<xsd:element name="businessPartnerId" type="xsd:int"/>
				<xsd:element name="transDate" type="xsd:dateTime"/>
				<xsd:element name="currency" type="xsd:string"/>				
				<xsd:element name="paymentAmount" type="xsd:decimal"/>
				<xsd:element name="discountAmount" type="xsd:decimal"/>
				<xsd:element name="writeOffAmount" type="xsd:decimal"/>
			</xsd:sequence>
		</xsd:complexType>

<!-- *************************** General **************************************************************** -->

	<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
   	<xsd:complexType name="LoginRequest">
		<xsd:sequence>
			<xsd:element name="username" type="xsd:string"/>
		  	<xsd:element name="password" type="xsd:string"/>
		  	<xsd:element name="type" type="xsd:string"/>
		  	<xsd:element name="trxName" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="CreateTrxRequest" type="tns:CreateTrxRequest"/>
   	<xsd:complexType name="CreateTrxRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="trxNamePrefix" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="CommitTrxRequest" type="tns:CommitTrxRequest"/>
   	<xsd:complexType name="CommitTrxRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="RollbackTrxRequest" type="tns:RollbackTrxRequest"/>
   	<xsd:complexType name="RollbackTrxRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="StandardResponse" type="tns:StandardResponse"/>
   	<xsd:complexType name="StandardResponse">
    	<xsd:sequence>
        	<xsd:element name="success" type="xsd:boolean"/>
        	<xsd:element name="message" type="xsd:string"/>
        	<xsd:element name="trxName" type="xsd:string"/>
        	<xsd:element name="id" type="xsd:int"/>
      	</xsd:sequence>
   	</xsd:complexType>
   	
<!-- *************************** Provision ************************************************************** -->

	<xsd:element name="CreateDIDProductRequest" type="tns:CreateDIDProductRequest"/>
   	<xsd:complexType name="CreateDIDProductRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="number" type="xsd:string"/>
			<xsd:element name="countryId" type="xsd:string"/>
			<xsd:element name="countryCode" type="xsd:string"/>
			<xsd:element name="areaCode" type="xsd:string"/>
			<xsd:element name="areaCodeDescription" type="xsd:string"/>
			<xsd:element name="freeMinutes" type="xsd:string"/>
			<xsd:element name="perMinuteCharge" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="setupCost" type="xsd:string"/>
			<xsd:element name="monthlyCharge" type="xsd:string"/>			
			<xsd:element name="currencyId" type="xsd:int"/>
			<xsd:element name="pricelistVersionId" type="xsd:int"/>
			<xsd:element name="orgId" type="xsd:int"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="fax" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadDIDProductRequest" type="tns:ReadDIDProductRequest"/>
   	<xsd:complexType name="ReadDIDProductRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="UpdateDIDProductRequest" type="tns:UpdateDIDProductRequest"/>
   	<xsd:complexType name="UpdateDIDProductRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="number" type="xsd:string"/>
			<xsd:element name="subscribed" type="xsd:boolean"/>
			<xsd:element name="fax" type="xsd:boolean" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="DeleteDIDProductRequest" type="tns:DeleteDIDProductRequest"/>
   	<xsd:complexType name="DeleteDIDProductRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="CreateSIPProductRequest" type="tns:CreateSIPProductRequest"/>
   	<xsd:complexType name="CreateSIPProductRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="address" type="xsd:string"/>
			<xsd:element name="domain" type="xsd:string"/>
			<xsd:element name="orgId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="CreateVoicemailProductRequest" type="tns:CreateVoicemailProductRequest"/>
   	<xsd:complexType name="CreateVoicemailProductRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="context" type="xsd:string"/>
			<xsd:element name="macroName" type="xsd:string"/>
			<xsd:element name="mailboxNumber" type="xsd:string"/>
			<xsd:element name="orgId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="CreateDIDSubscriptionRequest" type="tns:CreateDIDSubscriptionRequest"/>
   	<xsd:complexType name="CreateDIDSubscriptionRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="number" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="businessPartnerLocationId" type="xsd:int"/>
			<xsd:element name="startDate" type="xsd:dateTime"/>
			<xsd:element name="paidUntilDate" type="xsd:dateTime" />
			<xsd:element name="orgId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="CreateSIPSubscriptionRequest" type="tns:CreateSIPSubscriptionRequest"/>
   	<xsd:complexType name="CreateSIPSubscriptionRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="address" type="xsd:string"/>
			<xsd:element name="domain" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="businessPartnerLocationId" type="xsd:int"/>
			<xsd:element name="startDate" type="xsd:dateTime"/>
			<xsd:element name="orgId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="CreateVoicemailSubscriptionRequest" type="tns:CreateVoicemailSubscriptionRequest"/>
   	<xsd:complexType name="CreateVoicemailSubscriptionRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="mailboxNumber" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="businessPartnerLocationId" type="xsd:int"/>
			<xsd:element name="startDate" type="xsd:dateTime"/>
			<xsd:element name="orgId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="ReadSubscriberRequest" type="tns:ReadSubscriberRequest"/>
   	<xsd:complexType name="ReadSubscriberRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="CreateSubscriberRequest" type="tns:CreateSubscriberRequest"/>
   	<xsd:complexType name="CreateSubscriberRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="username" type="xsd:string"/>
			<xsd:element name="password" type="xsd:string"/>
			<xsd:element name="domain" type="xsd:string"/>
			<xsd:element name="timezone" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="UpdateSubscriberRequest" type="tns:UpdateSubscriberRequest"/>
   	<xsd:complexType name="UpdateSubscriberRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="DeleteSubscriberRequest" type="tns:DeleteSubscriberRequest"/>
   	<xsd:complexType name="DeleteSubscriberRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="username" type="xsd:string"/>
			<xsd:element name="domain" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="CreateUserPreferenceRequest" type="tns:CreateUserPreferenceRequest"/>
   	<xsd:complexType name="CreateUserPreferenceRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="uuid" type="xsd:string"/>
			<xsd:element name="username" type="xsd:string"/>
			<xsd:element name="domain" type="xsd:string"/>
			<xsd:element name="attribute" type="xsd:string"/>
			<xsd:element name="value" type="xsd:string"/>
			<xsd:element name="type" type="xsd:string"/>
			<xsd:element name="subscriberId" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadUserPreferenceRequest" type="tns:ReadUserPreferenceRequest"/>
   	<xsd:complexType name="ReadUserPreferenceRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="UpdateUserPreferenceValueRequest" type="tns:UpdateUserPreferenceValueRequest"/>
   	<xsd:complexType name="UpdateUserPreferenceValueRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="uuid" type="xsd:string"/>
			<xsd:element name="username" type="xsd:string"/>
			<xsd:element name="domain" type="xsd:string"/>
			<xsd:element name="attribute" type="xsd:string"/>
			<xsd:element name="value" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="UpdateUserPreferenceStartDateRequest" type="tns:UpdateUserPreferenceStartDateRequest"/>
   	<xsd:complexType name="UpdateUserPreferenceStartDateRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="uuid" type="xsd:string"/>
			<xsd:element name="username" type="xsd:string"/>
			<xsd:element name="domain" type="xsd:string"/>
			<xsd:element name="attribute" type="xsd:string"/>
			<xsd:element name="startDate" type="xsd:date"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="UpdateUserPreferenceEndDateRequest" type="tns:UpdateUserPreferenceEndDateRequest"/>
   	<xsd:complexType name="UpdateUserPreferenceEndDateRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="uuid" type="xsd:string"/>
			<xsd:element name="username" type="xsd:string"/>
			<xsd:element name="domain" type="xsd:string"/>
			<xsd:element name="attribute" type="xsd:string"/>
			<xsd:element name="endDate" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="DeleteUserPreferenceRequest" type="tns:DeleteUserPreferenceRequest"/>
   	<xsd:complexType name="DeleteUserPreferenceRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="uuid" type="xsd:string"/>
			<xsd:element name="username" type="xsd:string"/>
			<xsd:element name="domain" type="xsd:string"/>
			<xsd:element name="attribute" type="xsd:string"/>
			<xsd:element name="value" type="xsd:string"/>
			<xsd:element name="type" type="xsd:string"/>
			<xsd:element name="subscriberId" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="CreateVoicemailUserRequest" type="tns:CreateVoicemailUserRequest"/>
   	<xsd:complexType name="CreateVoicemailUserRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="mailboxNumber" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="DeleteVoicemailUserRequest" type="tns:DeleteVoicemailUserRequest"/>
   	<xsd:complexType name="DeleteVoicemailUserRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="mailboxNumber" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="CreateVoicemailUserPreferencesRequest" type="tns:CreateVoicemailUserPreferencesRequest"/>
   	<xsd:complexType name="CreateVoicemailUserPreferencesRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="mailboxNumber" type="xsd:string"/>
			<xsd:element name="domain" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="DeleteVoicemailUserPreferencesRequest" type="tns:DeleteVoicemailUserPreferencesRequest"/>
   	<xsd:complexType name="DeleteVoicemailUserPreferencesRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="mailboxNumber" type="xsd:string"/>
			<xsd:element name="domain" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="CreateVoicemailDialPlanRequest" type="tns:CreateVoicemailDialPlanRequest"/>
   	<xsd:complexType name="CreateVoicemailDialPlanRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="mailboxNumber" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="DeleteVoicemailDialPlanRequest" type="tns:DeleteVoicemailDialPlanRequest"/>
   	<xsd:complexType name="DeleteVoicemailDialPlanRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="mailboxNumber" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ValidateProvisionDIDParametersRequest" type="tns:ValidateProvisionDIDParametersRequest"/>
   	<xsd:complexType name="ValidateProvisionDIDParametersRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="didNumber" type="xsd:string"/>
		  	<xsd:element name="sipAddress" type="xsd:string"/>
		  	<xsd:element name="sipDomain" type="xsd:string"/>
		  	<xsd:element name="sipPassword" type="xsd:string"/>
		  	<xsd:element name="sipTimezone" type="xsd:string"/>
		  	<xsd:element name="voicemailContext" type="xsd:string"/>
		  	<xsd:element name="voicemailMacroName" type="xsd:string"/>
		  	<xsd:element name="voicemailMailboxNumber" type="xsd:string"/>
		  	<xsd:element name="voicemailDomain" type="xsd:string"/>
 			<xsd:element name="businessPartnerId" type="xsd:int"/>
 			<xsd:element name="businessPartnerLocationId" type="xsd:int"/>
 			<xsd:element name="converseVoiceActive" type="xsd:boolean"/>
 			<xsd:element name="cOutActive" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="CreateCallProductRequest" type="tns:CreateCallProductRequest"/>
   	<xsd:complexType name="CreateCallProductRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="number" type="xsd:string"/>
			<xsd:element name="domain" type="xsd:string"/>
			<xsd:element name="pricelistVersionId" type="xsd:int"/>
			<xsd:element name="orgId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="CreateCallSubscriptionRequest" type="tns:CreateCallSubscriptionRequest"/>
   	<xsd:complexType name="CreateCallSubscriptionRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="number" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="businessPartnerLocationId" type="xsd:int"/>
			<xsd:element name="startDate" type="xsd:dateTime"/>
			<xsd:element name="orgId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="CreateCallSubscription2Request" type="tns:CreateCallSubscription2Request"/>
   	<xsd:complexType name="CreateCallSubscription2Request">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="number" type="xsd:string"/>
			<xsd:element name="domain" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="businessPartnerLocationId" type="xsd:int"/>
			<xsd:element name="startDate" type="xsd:dateTime"/>
			<xsd:element name="orgId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadRadiusAccountsByInvoiceRequest" type="tns:ReadRadiusAccountsByInvoiceRequest"/>
   	<xsd:complexType name="ReadRadiusAccountsByInvoiceRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="invoiceId" type="xsd:int"/>
			<xsd:element name="guid" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadRadiusAccountsResponse" type="tns:ReadRadiusAccountsResponse"/>
   	<xsd:complexType name="ReadRadiusAccountsResponse">
		<xsd:sequence>
			<xsd:element name="StandardResponse" type="tns:StandardResponse"/>
			<xsd:element name="radiusAccount" type="tns:RadiusAccount" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="CreateNumberPortSubscriptionRequest" type="tns:CreateNumberPortSubscriptionRequest"/>
   	<xsd:complexType name="CreateNumberPortSubscriptionRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="number" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="businessPartnerLocationId" type="xsd:int"/>
			<xsd:element name="orgId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadRadiusAccountsSearchRequest" type="tns:ReadRadiusAccountsSearchRequest"/>
   	<xsd:complexType name="ReadRadiusAccountsSearchRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="billingParty" type="xsd:string"/>
			<xsd:element name="otherParty" type="xsd:string"/>
			<xsd:element name="dateFrom" type="xsd:string"/>
			<xsd:element name="dateTo" type="xsd:string"/>
			<xsd:element name="billingId" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="EndDIDSubscriptionRequest" type="tns:EndDIDSubscriptionRequest"/>
   	<xsd:complexType name="EndDIDSubscriptionRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="number" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="endDate" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="EndSIPSubscriptionRequest" type="tns:EndSIPSubscriptionRequest"/>
   	<xsd:complexType name="EndSIPSubscriptionRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="address" type="xsd:string"/>
			<xsd:element name="domain" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="endDate" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="EndVoicemailSubscriptionRequest" type="tns:EndVoicemailSubscriptionRequest"/>
   	<xsd:complexType name="EndVoicemailSubscriptionRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="number" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="endDate" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="EndCallSubscriptionRequest" type="tns:EndCallSubscriptionRequest"/>
   	<xsd:complexType name="EndCallSubscriptionRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="number" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="endDate" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="EndVoicemailUserPreferencesRequest" type="tns:EndVoicemailUserPreferencesRequest"/>
   	<xsd:complexType name="EndVoicemailUserPreferencesRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="mailboxNumber" type="xsd:string"/>
			<xsd:element name="domain" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="endDate" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="CreateCvoxUserRequest" type="tns:CreateCvoxUserRequest"/>
   	<xsd:complexType name="CreateCvoxUserRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="username" type="xsd:string"/>
			<xsd:element name="password" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="UpdateCvoxUserRequest" type="tns:UpdateCvoxUserRequest"/>
   	<xsd:complexType name="UpdateCvoxUserRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="username" type="xsd:string"/>
			<xsd:element name="password" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
<!-- *************************** Admin ****************************************************************** -->
	
	<xsd:element name="CreateBusinessPartnerRequest" type="tns:CreateBusinessPartnerRequest"/>
   	<xsd:complexType name="CreateBusinessPartnerRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="searchKey" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="taxExempt" type="xsd:boolean"/>
			<xsd:element name="businessPartnerGroupId" type="xsd:int"/>
			<xsd:element name="orgId" type="xsd:int"/>
			<xsd:element name="salesRepId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="CreateBusinessPartnerResponse" type="tns:CreateBusinessPartnerResponse"/>
	<xsd:complexType name="CreateBusinessPartnerResponse">
		<xsd:sequence>
		    <xsd:element name="StandardResponse" type="tns:StandardResponse"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="orgId" type="xsd:int"/>
			<xsd:element name="searchKey" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadBusinessPartnerRequest" type="tns:ReadBusinessPartnerRequest"/>
   	<xsd:complexType name="ReadBusinessPartnerRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadBusinessPartnersByGroupRequest" type="tns:ReadBusinessPartnersByGroupRequest"/>
   	<xsd:complexType name="ReadBusinessPartnersByGroupRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="businessPartnerGroupId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadBusinessPartnerBySearchKeyRequest" type="tns:ReadBusinessPartnerBySearchKeyRequest"/>
	<xsd:complexType name="ReadBusinessPartnerBySearchKeyRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="searchKey" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadBusinessPartnerResponse" type="tns:ReadBusinessPartnerResponse"/>
   	<xsd:complexType name="ReadBusinessPartnerResponse">
		<xsd:sequence>
			<xsd:element name="StandardResponse" type="tns:StandardResponse"/>
			<xsd:element name="businessPartner" type="tns:BusinessPartner"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadBusinessPartnersResponse" type="tns:ReadBusinessPartnersResponse"/>
   	<xsd:complexType name="ReadBusinessPartnersResponse">
		<xsd:sequence>
			<xsd:element name="StandardResponse" type="tns:StandardResponse"/>
			<xsd:element name="businessPartner" type="tns:BusinessPartner" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="UpdateBusinessPartnerRequest" type="tns:UpdateBusinessPartnerRequest"/>
   	<xsd:complexType name="UpdateBusinessPartnerRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="searchKey" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="taxExempt" type="xsd:boolean"/>
			<xsd:element name="businessPartnerGroupId" type="xsd:int"/>
			<xsd:element name="orgId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="DeleteBusinessPartnerRequest" type="tns:DeleteBusinessPartnerRequest"/>
   	<xsd:complexType name="DeleteBusinessPartnerRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="CreateBusinessPartnerLocationRequest" type="tns:CreateBusinessPartnerLocationRequest"/>
   	<xsd:complexType name="CreateBusinessPartnerLocationRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="locationId" type="xsd:int"/>
			<xsd:element name="orgId" type="xsd:int"/>
			<xsd:element name="shipAddress" type="xsd:boolean"/>
			<xsd:element name="invoiceAddress" type="xsd:boolean"/>
			<xsd:element name="payFromAddress" type="xsd:boolean"/>
			<xsd:element name="remitToAddress" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="UpdateBusinessPartnerLocationRequest" type="tns:UpdateBusinessPartnerLocationRequest"/>
   	<xsd:complexType name="UpdateBusinessPartnerLocationRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="businessPartnerLocationId" type="xsd:int"/>
			<xsd:element name="address1" type="xsd:string"/>
			<xsd:element name="address2" type="xsd:string"/>
			<xsd:element name="address3" type="xsd:string"/>
			<xsd:element name="address4" type="xsd:string"/>
			<xsd:element name="city" type="xsd:string"/>
			<xsd:element name="cityId" type="xsd:int"/>
			<xsd:element name="zip" type="xsd:string"/>
			<xsd:element name="region" type="xsd:string"/>
			<xsd:element name="regionId" type="xsd:int"/>
			<xsd:element name="countryId" type="xsd:int"/>
			<xsd:element name="shipAddress" type="xsd:boolean" nillable="true"/>
			<xsd:element name="invoiceAddress" type="xsd:boolean" nillable="true"/>
			<xsd:element name="payFromAddress" type="xsd:boolean" nillable="true"/>
			<xsd:element name="remitToAddress" type="xsd:boolean" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="CreateLocationRequest" type="tns:CreateLocationRequest"/>
   	<xsd:complexType name="CreateLocationRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="address1" type="xsd:string"/>
			<xsd:element name="address2" type="xsd:string"/>
			<xsd:element name="address3" type="xsd:string"/>
			<xsd:element name="address4" type="xsd:string"/>
			<xsd:element name="city" type="xsd:string"/>
			<!--<xsd:element name="cityId" type="xsd:int"/>
			--><xsd:element name="zip" type="xsd:string"/>
			<xsd:element name="region" type="xsd:string"/>
			<!--<xsd:element name="regionId" type="xsd:int"/>
			--><xsd:element name="countryId" type="xsd:int"/>
			<xsd:element name="orgId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="CreateUserRequest" type="tns:CreateUserRequest"/>
   	<xsd:complexType name="CreateUserRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="searchKey" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="password" type="xsd:string"/>
			<xsd:element name="email" type="xsd:string"/>
			<xsd:element name="phone" type="xsd:string"/>
			<xsd:element name="mobile" type="xsd:string"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="businessPartnerLocationId" type="xsd:int"/>
			<xsd:element name="orgId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadUserRequest" type="tns:ReadUserRequest"/>
   	<xsd:complexType name="ReadUserRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="userId" type="xsd:int"/>
			<!--<xsd:element name="searchKey" type="xsd:string"/>
			<xsd:element name="isSalesPerson" type="xsd:boolean"/>
		--></xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadUserResponse" type="tns:ReadUserResponse"/>
   	<xsd:complexType name="ReadUserResponse">
		<xsd:sequence>
			<xsd:element name="StandardResponse" type="tns:StandardResponse"/>
			<xsd:element name="user" type="tns:User"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadUserBySearchKeyRequest" type="tns:ReadUserBySearchKeyRequest"/>
   	<xsd:complexType name="ReadUserBySearchKeyRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="searchKey" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadUserBySearchKeyResponse" type="tns:ReadUserBySearchKeyResponse"/>
   	<xsd:complexType name="ReadUserBySearchKeyResponse">
		<xsd:sequence>
			<xsd:element name="StandardResponse" type="tns:StandardResponse"/>
			<xsd:element name="user" type="tns:User2"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="ReadBPLocationRequest" type="tns:ReadBPLocationRequest"/>
   	<xsd:complexType name="ReadBPLocationRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadBPLocationResponse" type="tns:ReadBPLocationResponse"/>
   	<xsd:complexType name="ReadBPLocationResponse">
		<xsd:sequence>
			<xsd:element name="StandardResponse" type="tns:StandardResponse"/>
			<xsd:element name="bpLocation" type="tns:BPLocation" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="UpdateUserRequest" type="tns:UpdateUserRequest"/>
   	<xsd:complexType name="UpdateUserRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="userId" type="xsd:int"/>
			<xsd:element name="searchKey" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="password" type="xsd:string"/>
			<xsd:element name="email" type="xsd:string"/>
			<xsd:element name="phone" type="xsd:string"/>
			<xsd:element name="mobile" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="DeleteUserRequest" type="tns:DeleteUserRequest"/>
   	<xsd:complexType name="DeleteUserRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="CreateSubscriptionRequest" type="tns:CreateSubscriptionRequest"/>
   	<xsd:complexType name="CreateSubscriptionRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest" />
			<xsd:element name="name" type="xsd:string" />
			<xsd:element name="subscriptionTypeId" type="xsd:int" />
			<xsd:element name="businessPartnerId" type="xsd:int" />
			<xsd:element name="businessPartnerLocationId" type="xsd:int" />
			<xsd:element name="productId" type="xsd:int" />
			<xsd:element name="startDate" type="xsd:dateTime" />
			<xsd:element name="renewalDate" type="xsd:dateTime" />
			<xsd:element name="paidUntilDate" type="xsd:dateTime" />
			<xsd:element name="billInAdvance" type="xsd:boolean" />
			<xsd:element name="qty" type="xsd:decimal" />
			<xsd:element name="isDue" type="xsd:boolean" />
			<xsd:element name="userId" type="xsd:int" />
			<xsd:element name="orgId" type="xsd:int"/>
		</xsd:sequence>
   	</xsd:complexType>

	<xsd:element name="ReadSubscriptionRequest" type="tns:ReadSubscriptionRequest"/>
   	<xsd:complexType name="ReadSubscriptionRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="subscriptionId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadSubscriptionResponse" type="tns:ReadSubscriptionResponse"/>
   	<xsd:complexType name="ReadSubscriptionResponse">
		<xsd:sequence>
			<xsd:element name="StandardResponse" type="tns:StandardResponse"/>
			<xsd:element name="subscription" type="tns:Subscription"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="UpdateSubscriptionRequest" type="tns:UpdateSubscriptionRequest"/>
   	<xsd:complexType name="UpdateSubscriptionRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="subscriptionId" type="xsd:int" />
			<xsd:element name="name" type="xsd:string" />
			<xsd:element name="subscriptionTypeId" type="xsd:int" />
			<xsd:element name="businessPartnerId" type="xsd:int" />
			<xsd:element name="businessPartnerLocationId" type="xsd:int" />
			<xsd:element name="productId" type="xsd:int" />	
			<xsd:element name="startDate" type="xsd:dateTime" />
			<xsd:element name="renewalDate" type="xsd:dateTime" />
			<xsd:element name="paidUntilDate" type="xsd:dateTime" />
			<xsd:element name="billInAdvance" type="xsd:boolean" />
			<xsd:element name="qty" type="xsd:decimal" />
			<xsd:element name="isDue" type="xsd:boolean" />
			<xsd:element name="userId" type="xsd:int" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="DeleteSubscriptionRequest" type="tns:DeleteSubscriptionRequest"/>
   	<xsd:complexType name="DeleteSubscriptionRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadSubscriptionsRequest" type="tns:ReadSubscriptionsRequest"/>
   	<xsd:complexType name="ReadSubscriptionsRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadSubscriptionsResponse" type="tns:ReadSubscriptionsResponse"/>
   	<xsd:complexType name="ReadSubscriptionsResponse">
		<xsd:sequence>
			<xsd:element name="StandardResponse" type="tns:StandardResponse"/>
			<xsd:element name="subscription" type="tns:Subscription" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="CreateOrderRequest" type="tns:CreateOrderRequest"/>
   	<xsd:complexType name="CreateOrderRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<!--<xsd:element name="documentNo" type="xsd:string"/>
			--><xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="businessPartnerLocationId" type="xsd:int"/>
			<xsd:element name="pricelistId" type="xsd:int"/>
			<xsd:element name="warehouseId" type="xsd:int"/>
			<xsd:element name="datePromised" type="xsd:dateTime"/>
			<xsd:element name="dateOrdered" type="xsd:dateTime"/>
			<xsd:element name="orgId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="CreateOrderLineRequest" type="tns:CreateOrderLineRequest"/>
	<xsd:complexType name="CreateOrderLineRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="orderId" type="xsd:int" />
			<xsd:element name="productId" type="xsd:int" />
			<xsd:element name="description" type="xsd:string" />
			<xsd:element name="line" type="xsd:int" />
			<xsd:element name="qtyOrdered" type="xsd:decimal" />
			<xsd:element name="priceEntered" type="xsd:decimal" />
			<xsd:element name="lineNetAmt" type="xsd:decimal" />
			<xsd:element name="chargeId" type="xsd:int" />
			<xsd:element name="uomId" type="xsd:int" />
			<xsd:element name="taxId" type="xsd:int" />
			<xsd:element name="orgId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="ReadOrderRequest" type="tns:ReadOrderRequest"/>
   	<xsd:complexType name="ReadOrderRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="documentNo" type="xsd:string"/>
			<xsd:element name="docTypeId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadOrderResponse" type="tns:ReadOrderResponse"/>
   	<xsd:complexType name="ReadOrderResponse">
		<xsd:sequence>
			<xsd:element name="StandardResponse" type="tns:StandardResponse"/>
			<xsd:element name="order" type="tns:Order"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="UpdateOrderRequest" type="tns:UpdateOrderRequest"/>
   	<xsd:complexType name="UpdateOrderRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="orderId" type="xsd:int"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="businessPartnerLocationId" type="xsd:int"/>
			<xsd:element name="pricelistId" type="xsd:int"/>
			<xsd:element name="warehouseId" type="xsd:int"/>
			<xsd:element name="datePromised" type="xsd:dateTime"/>
			<xsd:element name="dateOrdered" type="xsd:dateTime"/>
			<xsd:element name="orgId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="DeleteOrderRequest" type="tns:DeleteOrderRequest"/>
   	<xsd:complexType name="DeleteOrderRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadOrderDIDsRequest" type="tns:ReadOrderDIDsRequest"/>
   	<xsd:complexType name="ReadOrderDIDsRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="orderId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadOrderDIDsResponse" type="tns:ReadOrderDIDsResponse"/>
   	<xsd:complexType name="ReadOrderDIDsResponse">
		<xsd:sequence>
			<xsd:element name="StandardResponse" type="tns:StandardResponse"/>
			<xsd:element name="dids" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadUsersByEmailRequest" type="tns:ReadUsersByEmailRequest"/>
   	<xsd:complexType name="ReadUsersByEmailRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="email" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadUsersByEmailResponse" type="tns:ReadUsersByEmailResponse"/>
   	<xsd:complexType name="ReadUsersByEmailResponse">
		<xsd:sequence>
			<xsd:element name="StandardResponse" type="tns:StandardResponse"/>
			<xsd:element name="user" type="tns:User" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadOrderNumberPortsRequest" type="tns:ReadOrderNumberPortsRequest"/>
   	<xsd:complexType name="ReadOrderNumberPortsRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="orderId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadOrderNumberPortsResponse" type="tns:ReadOrderNumberPortsResponse"/>
   	<xsd:complexType name="ReadOrderNumberPortsResponse">
		<xsd:sequence>
			<xsd:element name="StandardResponse" type="tns:StandardResponse"/>
			<xsd:element name="numbers" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadSubscribedNumbersRequest" type="tns:ReadSubscribedNumbersRequest"/>
   	<xsd:complexType name="ReadSubscribedNumbersRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadSubscribedNumbersResponse" type="tns:ReadSubscribedNumbersResponse"/>
   	<xsd:complexType name="ReadSubscribedNumbersResponse">
		<xsd:sequence>
			<xsd:element name="StandardResponse" type="tns:StandardResponse"/>
			<xsd:element name="numbers" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="CreateUserRoleRequest" type="tns:CreateUserRoleRequest"/>
   	<xsd:complexType name="CreateUserRoleRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="userId" type="xsd:int"/>
			<xsd:element name="roleId" type="xsd:int"/>
			<xsd:element name="orgId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadUserRoleRequest" type="tns:ReadUserRoleRequest"/>
   	<xsd:complexType name="ReadUserRoleRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="userId" type="xsd:int"/>
			<xsd:element name="roleId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="UpdateUserRoleRequest" type="tns:UpdateUserRoleRequest"/>
   	<xsd:complexType name="UpdateUserRoleRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="DeleteUserRoleRequest" type="tns:DeleteUserRoleRequest"/>
   	<xsd:complexType name="DeleteUserRoleRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="userId" type="xsd:int"/>
			<xsd:element name="roleId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadRolesRequest" type="tns:ReadRolesRequest"/>
   	<xsd:complexType name="ReadRolesRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadRolesResponse" type="tns:ReadRolesResponse"/>
   	<xsd:complexType name="ReadRolesResponse">
		<xsd:sequence>
			<xsd:element name="StandardResponse" type="tns:StandardResponse"/>
			<xsd:element name="role" type="tns:Role" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadUsersByBusinessPartnerRequest" type="tns:ReadUsersByBusinessPartnerRequest"/>
   	<xsd:complexType name="ReadUsersByBusinessPartnerRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadUsersByBusinessPartnerResponse" type="tns:ReadUsersByBusinessPartnerResponse"/>
   	<xsd:complexType name="ReadUsersByBusinessPartnerResponse">
		<xsd:sequence>
			<xsd:element name="StandardResponse" type="tns:StandardResponse"/>
			<xsd:element name="user" type="tns:User" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="ReadCallRecordingRequest" type="tns:ReadCallRecordingRequest"/>
   	<xsd:complexType name="ReadCallRecordingRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="radAcctId" type="xsd:int"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadCallRecordingResponse" type="tns:ReadCallRecordingResponse"/>
   	<xsd:complexType name="ReadCallRecordingResponse">
		<xsd:sequence>
			<xsd:element name="StandardResponse" type="tns:StandardResponse"/>
			<xsd:element name="url" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="ReadProductBPPriceRequest" type="tns:ReadProductBPPriceRequest"/>
	<xsd:complexType name="ReadProductBPPriceRequest">
		<xsd:sequence>
		    <xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="productId" type="xsd:int" />	
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="bpSearchKey" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadProductBPPriceResponse" type="tns:ReadProductBPPriceResponse"/>
	<xsd:complexType name="ReadProductBPPriceResponse">
		<xsd:sequence>
		    <xsd:element name="StandardResponse" type="tns:StandardResponse"/>
		    <xsd:element name="productPrice" type="tns:ProductPrice" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	
	<!--<xsd:element name="ReadProductBPPriceResponse" type="tns:ReadProductBPPriceResponse"/>
	<xsd:complexType name="ReadProductBPPriceResponse">
		<xsd:sequence>
		    <xsd:element name="StandardResponse" type="tns:StandardResponse"/>
			<xsd:element name="productId" type="xsd:int" />	
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="listPrice" type="xsd:decimal"/>
			<xsd:element name="standardPrice" type="xsd:decimal"/>
			<xsd:element name="limitPrice" type="xsd:decimal"/>
		</xsd:sequence>
	</xsd:complexType>-->
	
	<xsd:element name="ReadProductRequest" type="tns:ReadProductRequest"/>
	<xsd:complexType name="ReadProductRequest">
		<xsd:sequence>
		    <xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="productId" type="xsd:int" />	
			<xsd:element name="productCategoryId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadProductResponse" type="tns:ReadProductResponse"/>
	<xsd:complexType name="ReadProductResponse">
		<xsd:sequence>
		    <xsd:element name="StandardResponse" type="tns:StandardResponse"/>
			<xsd:element name="product" type="tns:Product" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadOrganizationRequest" type="tns:ReadOrganizationRequest"/>
	<xsd:complexType name="ReadOrganizationRequest">
		<xsd:sequence>
		    <xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="orgId" type="xsd:int" />	
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadOrganizationResponse" type="tns:ReadOrganizationResponse"/>
	<xsd:complexType name="ReadOrganizationResponse">
		<xsd:sequence>
		    <xsd:element name="StandardResponse" type="tns:StandardResponse"/>
			<xsd:element name="organization" type="tns:Organization" minOccurs="0" maxOccurs="unbounded" />		
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadOrderLinesRequest" type="tns:ReadOrderLinesRequest"/>
   	<xsd:complexType name="ReadOrderLinesRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="orderId" type="xsd:int"/>
			<xsd:element name="productId" type="xsd:int" />	
			<xsd:element name="productCategoryId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadOrderLinesResponse" type="tns:ReadOrderLinesResponse"/>
   	<xsd:complexType name="ReadOrderLinesResponse">
		<xsd:sequence>
			<xsd:element name="StandardResponse" type="tns:StandardResponse"/>
			<xsd:element name="orderLine" type="tns:OrderLine" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadOrderByBusinessPartnerSearchKeyRequest" type="tns:ReadOrderByBusinessPartnerSearchKeyRequest"/>
   	<xsd:complexType name="ReadOrderByBusinessPartnerSearchKeyRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="searchKey" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadOrderByBusinessPartnerSearchKeyResponse" type="tns:ReadOrderByBusinessPartnerSearchKeyResponse"/>
   	<xsd:complexType name="ReadOrderByBusinessPartnerSearchKeyResponse">
		<xsd:sequence>
			<xsd:element name="StandardResponse" type="tns:StandardResponse"/>
			<xsd:element name="order" type="tns:Order" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

<!-- *************************** Accounting ************************************************************* -->

	<xsd:element name="CreatePaymentRequest" type="tns:CreatePaymentRequest"/>
   	<xsd:complexType name="CreatePaymentRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>			
			<xsd:element name="bankAccountId" type="xsd:int"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="businessPartnerBankAccountId" type="xsd:int"/>			
			<xsd:element name="amount" type="xsd:decimal"/>	
			<xsd:element name="orgId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="ReadPaymentRequest" type="tns:ReadPaymentRequest"/>
   	<xsd:complexType name="ReadPaymentRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="UpdatePaymentRequest" type="tns:UpdatePaymentRequest"/>
   	<xsd:complexType name="UpdatePaymentRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="DeletePaymentRequest" type="tns:DeletePaymentRequest"/>
   	<xsd:complexType name="DeletePaymentRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ProcessPaymentRequest" type="tns:ProcessPaymentRequest"/>
   	<xsd:complexType name="ProcessPaymentRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="paymentId" type="xsd:int"/>
			<xsd:element name="creditCardVerificationCode" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="CreateBPBankAccountRequest" type="tns:CreateBPBankAccountRequest"/>
   	<xsd:complexType name="CreateBPBankAccountRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="userId" type="xsd:int"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="bankId" type="xsd:int"/>
			<xsd:element name="ACH" type="xsd:boolean"/>
			<xsd:element name="creditCardType" type="xsd:string"/>
			<xsd:element name="creditCardNumber" type="xsd:string"/>
			<xsd:element name="creditCardVerificationCode" type="xsd:string"/>
			<xsd:element name="creditCardExpiryMonth" type="xsd:int"/>
			<xsd:element name="creditCardExpiryYear" type="xsd:int"/>
			<xsd:element name="accountName" type="xsd:string"/>
			<xsd:element name="accountStreet" type="xsd:string"/>
			<xsd:element name="accountCity" type="xsd:string"/>
			<xsd:element name="accountZip" type="xsd:string"/>
			<xsd:element name="accountState" type="xsd:string"/>
			<xsd:element name="accountCountry" type="xsd:string"/>
			<xsd:element name="accountUsage" type="xsd:string" />
			<xsd:element name="accountType" type="xsd:string" />
			<xsd:element name="accountNo" type="xsd:string" />
			<xsd:element name="orgId" type="xsd:int"/>
			<xsd:element name="locationId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadBPBankAccountRequest" type="tns:ReadBPBankAccountRequest"/>
   	<xsd:complexType name="ReadBPBankAccountRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadBPBankAccountResponse" type="tns:ReadBPBankAccountResponse"/>
   	<xsd:complexType name="ReadBPBankAccountResponse">
		<xsd:sequence>
			<xsd:element name="StandardResponse" type="tns:StandardResponse"/>
			<xsd:element name="bpBankAccount" type="tns:BPBankAccount" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="UpdateBPBankAccountRequest" type="tns:UpdateBPBankAccountRequest"/>
   	<xsd:complexType name="UpdateBPBankAccountRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="bpBankAccountId" type="xsd:int" />
			<xsd:element name="userId" type="xsd:int"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
			<xsd:element name="creditCardType" type="xsd:string"/>
			<xsd:element name="creditCardNumber" type="xsd:string"/>
			<xsd:element name="creditCardVerificationCode" type="xsd:string"/>
			<xsd:element name="creditCardExpiryMonth" type="xsd:int"/>
			<xsd:element name="creditCardExpiryYear" type="xsd:int"/>
			<xsd:element name="accountName" type="xsd:string"/>
			<xsd:element name="accountStreet" type="xsd:string"/>
			<xsd:element name="accountCity" type="xsd:string"/>
			<xsd:element name="accountZip" type="xsd:string"/>
			<xsd:element name="accountState" type="xsd:string"/>
			<xsd:element name="accountCountry" type="xsd:string"/>
			<xsd:element name="bankId" type="xsd:int"/>
			<xsd:element name="ACH" type="xsd:boolean"/>
			<xsd:element name="accountUsage" type="xsd:string" />
			<xsd:element name="accountType" type="xsd:string" />
			<xsd:element name="accountNo" type="xsd:string" />
			<xsd:element name="orgId" type="xsd:int"/>
			<xsd:element name="locationId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="DeleteBPBankAccountRequest" type="tns:DeleteBPBankAccountRequest"/>
   	<xsd:complexType name="DeleteBPBankAccountRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="bpBankAccountId" type="xsd:int" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="CreateInvoiceRequest" type="tns:CreateInvoiceRequest"/>
   	<xsd:complexType name="CreateInvoiceRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>			
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="ReadInvoiceRequest" type="tns:ReadInvoiceRequest"/>
   	<xsd:complexType name="ReadInvoiceRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="invoiceId" type="xsd:int"/>
			<xsd:element name="guid" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadInvoiceResponse" type="tns:ReadInvoiceResponse"/>
   	<xsd:complexType name="ReadInvoiceResponse">
		<xsd:sequence>
			<xsd:element name="StandardResponse" type="tns:StandardResponse"/>
			<xsd:element name="invoice" type="tns:Invoice" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="UpdateInvoiceRequest" type="tns:UpdateInvoiceRequest"/>
   	<xsd:complexType name="UpdateInvoiceRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="DeleteInvoiceRequest" type="tns:DeleteInvoiceRequest"/>
   	<xsd:complexType name="DeleteInvoiceRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadInvoicesByBusinessPartnerRequest" type="tns:ReadInvoicesByBusinessPartnerRequest"/>
   	<xsd:complexType name="ReadInvoicesByBusinessPartnerRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="docTypeTargetId" type="xsd:int"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadInvoicesByBusinessPartnerResponse" type="tns:ReadInvoicesByBusinessPartnerResponse"/>
   	<xsd:complexType name="ReadInvoicesByBusinessPartnerResponse">
		<xsd:sequence>
			<xsd:element name="StandardResponse" type="tns:StandardResponse"/>
			<xsd:element name="invoice" type="tns:Invoice" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadInvoiceLinesRequest" type="tns:ReadInvoiceLinesRequest"/>
   	<xsd:complexType name="ReadInvoiceLinesRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="invoiceId" type="xsd:int"/>
			<xsd:element name="guid" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadInvoiceLinesResponse" type="tns:ReadInvoiceLinesResponse"/>
   	<xsd:complexType name="ReadInvoiceLinesResponse">
		<xsd:sequence>
			<xsd:element name="StandardResponse" type="tns:StandardResponse"/>
			<xsd:element name="invoiceLine" type="tns:InvoiceLine" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadInvoiceTaxLinesRequest" type="tns:ReadInvoiceTaxLinesRequest"/>
   	<xsd:complexType name="ReadInvoiceTaxLinesRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="invoiceId" type="xsd:int"/>
			<xsd:element name="guid" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadInvoiceTaxLinesResponse" type="tns:ReadInvoiceTaxLinesResponse"/>
   	<xsd:complexType name="ReadInvoiceTaxLinesResponse">
		<xsd:sequence>
			<xsd:element name="StandardResponse" type="tns:StandardResponse"/>
			<xsd:element name="invoiceTaxLine" type="tns:InvoiceTaxLine" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadPaymentsByBusinessPartnerRequest" type="tns:ReadPaymentsByBusinessPartnerRequest"/>
   	<xsd:complexType name="ReadPaymentsByBusinessPartnerRequest">
		<xsd:sequence>
			<xsd:element name="LoginRequest" type="tns:LoginRequest"/>
			<xsd:element name="docTypeTargetId" type="xsd:int"/>
			<xsd:element name="businessPartnerId" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="ReadPaymentsByBusinessPartnerResponse" type="tns:ReadPaymentsByBusinessPartnerResponse"/>
   	<xsd:complexType name="ReadPaymentsByBusinessPartnerResponse">
		<xsd:sequence>
			<xsd:element name="StandardResponse" type="tns:StandardResponse"/>
			<xsd:element name="payment" type="tns:Payment" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	
</xsd:schema>